
Fondanti/.vs/Fondanti/v15/.suo
Fondanti/.vs/config/applicationhost.config
Fondanti/.vs/Fondanti/v15/.suo
Fondanti/.vs/Fondanti/v15/.suo
Fondanti/.vs/Fondanti/v15/.suo
Fondanti/.vs/Fondanti/v15/sqlite3/storage.ide
