@using WebMatrix.Data

@{
    ///Het initializeren van de database.
    Database db;
    using (db = Database.Open("Db_fondanti"))
    {
        string ingredients = "SELECT IngName FROM Prices";
        string prices = "SELECT IngPrice FROM Prices";

        if (IsPost)
        {
            var Chocola = Request.Form["Chocola"];
            var RedVelvet = Request.Form["RedVelvet"];
            var Biscuitdeeg = Request.Form["Biscuitdeeg"];
            var Fondant = Request.Form["Fondant"];
            var Marsepein = Request.Form["Marsepein"];
            var ChampagneRoom = Request.Form["ChampagneRoom"];
            var GeleRoom = Request.Form["GeleRoom"];
            var VruchtencompoteRoom = Request.Form["VruchtencompoteRoom"];
            var Eenvoudig = Request.Form["Eenvoudig"];
            var Gemiddeld = Request.Form["Gemiddeld"];
            var Uitgebreid = Request.Form["Uitgebreid"];
        }

    }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @RenderPage("Header.cshtml")
</head>
<body>
    @RenderPage("Navbar.cshtml")
    <section>
        @if (Session["LoggedIn"] != null)
        {
            <div class="container">
                <div class="container-fluid">
                    <h1>Prijzen ingredienten</h1>
                    <p>Verander hier de prijzen van de ingredienten. De prijzen opgegeven, zijn prijzen per persoon (p.p.)</p>
                   
                    <div class="row">
                        <div class="col-sm-5 col-md-6" style="text-align:left">Chocolate cake</div>
                        <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0"><input type="number" name="Chocola" value="@Chocola" placeholder="Current price" size="4"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-md-6" style="text-align:left">Red velvet cake</div>
                        <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0"><input type="number" name="RedVelvet" value="" placeholder="Current price" size="4"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-md-6" style="text-align:left">Biscuitdeeg</div>
                        <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0"><input type="number" name="Biscuitdeeg" value="" placeholder="Current price" size="4"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-md-6" style="text-align:left">Fondant</div>
                        <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0"><input type="number" name="Fondant" value="" placeholder="Current price" size="4"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-md-6" style="text-align:left">Marsepein</div>
                        <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0"><input type="number" name="Marsepein" value="" placeholder="Current price" size="4"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-md-6" style="text-align:left">Champagneroom vulling</div>
                        <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0"><input type="number" name="ChampagneRoom" value="" placeholder="Current price" size="4"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-md-6" style="text-align:left">Gele room met oreo vulling</div>
                        <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0"><input type="number" name="GeleRoom" value="" placeholder="Current price" size="4"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-md-6" style="text-align:left">Vruchtencompote Room (kindervulling)</div>
                        <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0"><input type="number" name="VruchtencompoteRoom" value="" placeholder="Current price" size="4"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-md-6" style="text-align:left">Eenvoudig niveau</div>
                        <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0"><input type="number" name="Eenvoudig" value="" placeholder="Current price" size="4"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-md-6" style="text-align:left">Gemiddeld niveau</div>
                        <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0"><input type="number" name="Gemiddeld" value="" placeholder="Current price" size="4"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-md-6" style="text-align:left">Uitgebreid niveau</div>
                        <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0"><input type="number" name="Uitgebreid" value="" placeholder="Current price" size="4"></div>
                    </div>
                    <input class="btn btn-primary" type="submit" name="commit" value="Wijzigingen toepassen" />
                </div>
            </div>
        }
        else
        {
            <h1>U moet ingelogd zijn om toegang te krijgen op deze pagina!</h1>
            <p>Indien u niet de administrator bent, hoeft u niets te doen op deze pagina.</p>
        }
    </section>

    @RenderPage("Footer.cshtml")
</body>
</html>