@{

}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @RenderPage("Header.cshtml")
</head>
<body>
    @RenderPage("Navbar.cshtml")
    <section>
        <h1>Taart samenstellen</h1>
        <p>U kunt hier uw taart samenstellen naar eigen smaak.</p>
        <div class="container">
            <form  method="post">
                <div class="row">
                    <div class="col">
                        <input type="number" class="form-control inputstl" placeholder="Aantal personen:">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control inputstl" placeholder="Aantal lagen:">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control inputstl" placeholder="Vulling:">
                    </div>
                    <div class="col">
                        <label class="checkbox-inline"><input type="checkbox" value="">Fondant</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">Marsepein</label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <select class="selectpicker form-control inputstl" id="cake" name="cake">
                            <option value="" disabled selected>Type cake:</option>
                            <option value="chocolade">Chocolade</option>
                            <option value="red_velvet">Red velvet</option>
                            <option value="biscuitdeeg">Biscuitdeeg </option>
                        </select>
                    </div>
                    <div class="col">
                        <script type="text/javascript">
                            function showfield(name) {
                                if (name == 'overig') document.getElementById('overig_veld').innerHTML = '<input type="text" class="form-group col-md-12" name="overig" placeholder="Typ uw thema"/>';
                                else document.getElementById('overig_veld').innerHTML = '';
                            }
                        </script>
                        <select class="selectpicker form-control inputstl" id="thema" name="thema" onchange="showfield(this.options[this.selectedIndex].value)">
                            <option value="" disabled selected>Thema:</option>
                            <option value="verjaardag_volwassenen">Verjaardag volwassenen</option>
                            <option value="verjaardag_kind">Verjaardag kind</option>
                            <option value="bruiloft">Bruiloft</option>
                            <option value="overig">Overig</option>
                        </select>
                        <div id="overig_veld"></div>
                    </div>
                    <div class="col">
                        <select class="selectpicker form-control inputstl" id="decoratie" name="decoratie">
                            <option value="" disabled selected>Decoratie niveau:</option>
                            <option value="eenvoudig">Eenvoudig</option>
                            <option value="gemiddeld">Gemiddeld</option>
                            <option value="uitgebreid">Uitgebreid</option>
                        </select>
                    </div>
                    <div class="col">
                        <textarea type="text" class="form-control inputstl" id="allergieën" name="alleegieën" placeholder="Allergieën:" rows="2"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Verstuur</button>
            </form>
        </div>
    </section>
    @RenderPage("Footer.cshtml")
</body>
</html>