<style>
footer    {
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        background-color: white;
        height: 10%;
        margin: 0 auto;
        text-align: center;
        display: inline-block;
        min-height: 20px;
        max-height: 40px;
    }
</style>
<div id="footer" class="bg-light text-center">
    <a href="https://www.facebook.com/fondanti/" class="fa fa-facebook"></a>
    © 2018 - Fondanti Cakes
    <a href="https://www.instagram.com/fondanticakes/" class="fa fa-instagram"></a>
</div>