<div id="footer" class="bg-light">
    <a href="https://www.facebook.com/fondanti/" class="fa fa-facebook"></a>
    © 2018 - Fondanti Cakes
    <a href="https://www.instagram.com/fondanticakes/" class="fa fa-instagram"></a>
</div>