<link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/css/custom.css" />
<link rel="stylesheet" type="text/javascript" href="~/js/bootstrap.min.js" />
<link rel="stylesheet" type="text/javascript" href="~/js/jquery-3.3.1.js" />
<title>Fondanti - Fabulous Cakes!</title>